.container-Wbreakfast {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 50px;
}

.breakfast-title {
    color: #01292b;
    font-size: 50px;
    margin-bottom: 30px;
}

.products-container-b {
    display: flex;
    flex-wrap: wrap;
}
  
.products-list {
    color: #003538;
    border-bottom: 1px solid;
    border-color: #b2bec3;
}

Button.menuButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 5px;
    border-style: none;
    border-radius: 20px;
    color: #f9a531;
    background-color: #003538;
}
  
.menuButton:hover {
    border-style: none;
    background-color: #f9a531;
    color: #003538;
}

.iconButton {
    margin-bottom: 5px;
}

.product-text-button {
    width: 120px;
}
  
.generalButtons {
    font-family: 'Work Sans', sans-serif;
    border-style: none;
    border-radius: 20px;
    background-color: #003538;
}
  
.generalButtons:hover {
    border-style: none;
    background-color: #01292b;
}

.table-container {
    margin-left: 80px;
    margin-top: 80px;
}

.table-header th{
    color: #003538;
    font-size: 18px;
    padding: 10px;
}

.table-body-item td{
    padding: 10px;
}

.product-breakfast {
    font-size: 18px;
    margin-left: 10px;
    color: #003538;
}

.button-delete {
    border-radius: 10px;
    border-style: none;
    background-color: brown;
    color: #f9a531;
    padding: 8px;
}

.total-amount {
    margin-top: 30px;
    font-size: 40px;
    color: #01292b;
}

.send-kitchen {
    border-radius: 20px;
    padding: 15px;
    background-color: #f9a531;
    color: #003538;
    font-size: 18px;
    border-style: none;
}

.send-kitchen:hover {
    background-color: #003538;
    color: #f9a531;
}

@media all and (max-width: 800px) {

    .products-container-b {
        display: flex;
        flex-direction: row;
    }

    Button.menuButton {
        padding: 10px;
    }

    .table-container {
        margin-left: 30px;
    }
}

