.burger-title {
    font-family: 'Quicksand', sans-serif;
    color: #fefefe;
    font-size: 60px;
}

.burger-text {
    font-family: 'Quicksand', sans-serif;
    color: #fefefe;
    font-size: 20px;
}