.home-container{
    display: flex;
}

.background-images {
    width: 900px;
}

.home-logo {
    width: 250px;
}

.text-home-box {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.burger-text {
    font-family: 'Quicksand', sans-serif;
    color: #01292b;
    font-size: 20px;
}