.home-container{
    display: flex;
  
}

.background-images {
    width: 900px;
}

.home-logo {
    width: 250px;
}

.text-home-box {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 300px;
}

.burger-text {
    font-family: 'Quicksand', sans-serif;
    color: #01292b;
    font-size: 20px;
}