.kitchen-container {
    font-family: 'Quicksand', sans-serif;
}

.container-kitchen-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.cards-bodys {
    border-radius: 20px;
    background-color: #f9a531;
    color: #003538;
    padding: 20px;
}

.card-title-kit {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-subtitle-kit {
    font-size: 18px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.cards-ready {
    margin-right: 20px;
}

.cards-list-prod {
    list-style: none;
    font-size: 16px;
}

input-check {
    padding: 20px;
    border-radius: 100px;
}