.kitchen-container {
    font-family: 'Quicksand', sans-serif;
}

.container-kitchen-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.cards-bodys {
    border-radius: 20px;
    background-color: #f9a531;
    color: #003538;
    padding: 20px;
}

.card-title-kit {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-subtitle-kit {
    font-size: 18px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.cards-ready {
    margin-right: 20px;
}

.cards-list-prod {
    list-style: none;
    font-size: 16px;
}

.button-order-ready {
    display: flex;
    justify-content: flex-end;
}

.order-ready {
    background-color: #003538;
    color: #fefefe;
    padding: 10px;
    border-style: none;
    border-radius: 15px;
    margin-top: 15px;
}

.ready-to-eat {
    text-align: center;
    font-size: 25px;
    color: #003538;
    margin-top: 20px;
}