.navbar {
    background-color: #003538;
    font-family: 'Quicksand', sans-serif;
}

.buttonnav {
    background-color: #003538;
    color: #f9a531;
    padding: 20px;
    font-size: 20px;
}

.buttonnav:hover {
    background-color: #01292b;
    color: #f9a531;
    text-decoration: none;
    border-radius: 15px;
}

@media all and (max-width: 800px) {
    
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar-brand img{
        width: 100px;
    }

    .buttonnav {
        font-size: 40px;
    }
}

@media all and (max-width: 400px) {

    .d-flex {
        display: flex;
        flex-direction: row;
    }

    .buttonnav {
        font-size: 20px;
    }
}
