.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.user-data {
    font-size: 30px;
    color: #003538;
}

.user-form {
    display: flex;
    flex-direction: row;
}

.input-container {
    margin-left: 20px;
}

.form-input {
    border-radius: 15px;
    padding: 10px;
    border-style: solid;
    border-color: #003538;
    margin-left: 10px;
}

.button-agregar {
    padding: 15px;
    border-radius: 20px;
    border-style: none;
    color: #003538;
    background-color: #f9a531;
}
