.waiter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.witer-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #003538;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.button-waiter {
    padding: 20px;
    border-radius: 20px;
    background-color: #003538;
    color: #f9a531;
    border-style: none;
    font-family: 'Quicksand', sans-serif;
}

.button-waiter:hover {
    background-color: #f9a531;
    color: #003538;
}

.space-down {
    padding-bottom: 80px;
    background-color: #f9a531;
}

.space-down:hover {
    background-color: #003538;
}

.space-up {
    padding-top: 80px;
    background-color: #f9a531;
}

.space-up:hover {
    background-color: #003538;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #003538;
  }
  
  .container-lunch:hover .overlay {
    opacity: 1;
  }

  .container-breakfast:hover .overlay {
    opacity: 1;
  }
  
  .text {
    font-family: 'Quicksand', sans-serif;
    color: #f9a531;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
