.waiter-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.button-waiter {
    padding: 20px;
    border-radius: 20px;
    background-color: #003538;
    color: #f9a531;
    border-style: none;
    font-family: 'Quicksand', sans-serif;
}

.button-waiter:hover {
    background-color: #f9a531;
    color: #003538;
}