* {
  margin: auto;
}

body{
  display: flex;
  background-color: #003538;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  min-height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  max-height: 800px;
}

.mainTitle {
  font-family: 'Quicksand', sans-serif;
  color: #003538;
  margin-left: 35%;
  font-size: 50px;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: #003538;
}

.formUser {
  margin-left: 30%;
  margin-right: 30%;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

Button.menuButton {
  padding: 15px;
  margin: 5px;
  border-style: none;
  border-radius: 20px;
  color: #f9a531;
  background-color: #003538;
}

.menuButton:hover {
  border-style: none;
  background-color: #f9a531;
  color: #003538;
}

.generalButtons {
  font-family: 'Work Sans', sans-serif;
  border-style: none;
  border-radius: 20px;
  background-color: #003538;
}

.generalButtons:hover {
  border-style: none;
  background-color: #01292b;
}


.tabla {
  flex-wrap: wrap;
}
