* {
  margin: auto;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

Button.menuButton {
  padding: 15px;
  margin: 5px;
  border-style: none;
  border-radius: 20px;
  color: #f9a531;
  background-color: #003538;
}

.menuButton:hover {
  border-style: none;
  background-color: #f9a531;
  color: #003538;
}

.generalButtons {
  font-family: 'Work Sans', sans-serif;
  border-style: none;
  border-radius: 20px;
  background-color: #003538;
}

.generalButtons:hover {
  border-style: none;
  background-color: #01292b;
}

.tabla {
  flex-wrap: wrap;
}
