
body{
  background-color: white;
  font-family: 'Sen', sans-serif;
  margin: 0;
  min-height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  max-height: 800px;

}

.mainTitle {
  font-family: 'Sen', sans-serif;
  color: #c23616;
  margin-left: 35%;
  font-size: 50px;
}

h2 {
  font-family: 'Sen', sans-serif;
  color: #c23616;

}

.formUser {
  margin-left: 30%;
  margin-right: 30%;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.menuButton {
  padding: 15px;
  margin: 5px;
  border-style: none;
  border-radius: 20px;
  background-color: #273c75;
}

.iconButton {
  width: 50px;
}

.menuButton:hover {
  border-style: none;
  background-color: #fbc531;
  color: #192a56;
}

.generalButtons {
  font-family: 'Sen', sans-serif;
  border-style: none;
  border-radius: 20px;
  background-color: #c23616;
}

.generalButtons:hover {
  border-style: none;
  background-color: #e84118;
}

.navButton {
  border-style: none;
  border-radius: 10px;
  background-color: #fbc531;
  padding: 20px;
  margin: 10px;
  max-height: 60px;
}

.navButton:hover {
  border-style: none;
  
  background-color: #273c75;
}
.navbar{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.buttonBar{
  display: flex;
  justify-content: center;

}